* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-accent: #5955B3;
    --sec-color: #5955B3;

    --background-color: #FFF;

    --text-color: #000;
    --reverse-text-color: #fff;
    --black-light-color: #CCC;
    --text-accent: #000;
    --text-accent-2: #000;

    --box-back: #c6fab7;
    --table: #5955B3;;

    --profile-side: #F9F8FD;

    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box3-color: #E7D1FC;
    --title-icon-color: #fff;

    --delete-btn: #d03b40;

    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-02: all 0.2s ease;
}

body {
    min-height: 100vh;
    background-color: var(--primary-color);
}

body.dark {
    --main-accent: #3A3B3C;
    --sec-color: #FFE6AC;

    --background-color: #242526;

    --box-back: #3A3B3C;
    --table: #FFE6AC; /*#6b597d*/

    --profile-side: #3a3b3c;

    --text-color: #CCC;
    --reverse-text-color: #000;
    --text-accent: #FFE6AC; /*#FFE6AC*/
    --text-accent-2: #FAB7C6;
    --black-light-color: #CCC;

    --delete-btn: #692024;

    --border-color: #4D4C4C;
    --toggle-color: #FFF;

    --title-icon-color: #CCC;
}

/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--main-accent);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #0b3cc1;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover {
    background: #3A3B3C;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--main-accent);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);

    font-family: 'Raleway', sans-serif;
}

nav.close {
    width: 73px;
}

nav .logo-name {
    display: flex;
    align-items: center;
}

nav .logo-image {
    display: flex;
    justify-content: center;
    min-width: 45px;
    color: #fff;
}

nav .logo-image img {
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-name .logo_name {
    color: #fff;
    margin-left: 14px;

    font-family: 'Nunito', sans-serif;
    font-size: 23px;
    font-weight: 700;
    transition: all 0.5s ease;

    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

nav.close .logo_name {
    opacity: 0;
    pointer-events: none;
}

nav .menu-items {
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-items li {
    list-style: none;
}

.menu-items li a {
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}

.nav-links li a:hover:before {
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--black-light-color);
}

body.dark li a:hover:before {
    background-color: var(--black-light-color);
}

.menu-items li a span {
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.menu-items li a .link-name {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    transition: var(--tran-05);

    font-family: "Raleway", sans-serif;
}

nav.close li a .link-name {
    opacity: 0;
    pointer-events: none;
}

.nav-links li a:hover span,
.nav-links li a:hover .link-name {
    color: var(--black-light-color);
    transition: all 0.3s ease;
}

body.dark .nav-links li a:hover span,
body.dark .nav-links li a:hover .link-name {
    color: var(--text-color);
}

.menu-items .logout-mode {
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}

.menu-items .mode {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.menu-items .mode-toggle {
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mode-toggle .switch {
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}

.switch:before {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--background-color);
    border-radius: 50%;
    transition: var(--tran-03);
}

body.dark .switch:before {
    left: 20px;
}

.dashboard {
    font-family: "Raleway", sans-serif;
    position: relative;
    left: 250px;
    background-color: var(--background-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}

nav.close ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .top {
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px - 280px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--background-color);
    transition: var(--tran-05);
    z-index: 10;

    color: var(--text-color);
    font-size: 20px;
}

nav.close ~ .dashboard .top {
    left: 73px;
    width: calc(100% - 73px - 280px);
}

.dashboard .top .sidebar-toggle {
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}

.top img {
    width: 40px;
    border-radius: 50%;
}

.dashboard .dash-content {
    padding-top: 50px;
}

.dash-content .title {
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;

    color: var(--text-color);
}

.dash-content .title span {
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--main-accent);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.dash-content .title .text {
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 10px;
    font-family: "Raleway", sans-serif;
}

.dash-content .boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dash-content .boxes .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: calc(100% / 6 - 10px);
    min-width: 140px;
    padding: 15px 20px;
    margin: 10px 0;
    transition: var(--tran-05);
    /*background: #fac9d1;*/
    background: var(--box-back);
    font-family: "Raleway", sans-serif;

    color: var(--text-accent);
}

.dashboard .main-content .poster {
    margin-top: 100px;
}


@media (max-width: 780px) {
    .dash-content .boxes .box {
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
}

@media (max-width: 560px) {
    .dash-content .boxes .box {
        width: 100%;
    }
}

@media (max-width: 400px) {
    nav {
        width: 0px;
    }

    nav.close {
        width: 73px;
    }

    nav .logo_name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close .logo_name {
        opacity: 0;
        pointer-events: none;
    }

    nav li a .link-name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close li a .link-name {
        opacity: 0;
        pointer-events: none;
    }

    nav ~ .dashboard {
        left: 0;
        width: 100%;
    }

    nav.close ~ .dashboard {
        left: 73px;
        width: calc(100% - 73px);
    }

    nav ~ .dashboard .top {
        left: 0;
        width: 100%;
    }

    nav.close ~ .dashboard .top {
        left: 0;
        width: 100%;
    }
}

/*====== DASHBOARD =======*/
.dashboard {
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    min-height: 100vh;
    height: fit-content;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}

nav.close ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .main-content {
    width: calc(100% - 280px);
}

.dashboard {
    background: var(--background-color);
}

/*====== DASHBOARD PROFILE =======*/
.dashboard .profile {
    width: 280px;
    height: 100%;
    background: var(--profile-side);

    position: absolute;
    right: 0;
    top: 0;
}

.dashboard > .profile .top {
    justify-content: center;
}

.dashboard~.profile .dashboard .top {
    width: calc(100% - 250px - 280px);
    background: #692024;
}

.dashboard > .profile nav.close ~ .dashboard .top {
    width: calc(100% - 73px - 280px);
}

.profile-info .profile-image {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-info .profile-image img {
    width: 150px;
    height: 150px;

    margin: 40px 0 30px 0;
}

.profile-info .name-status {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-info .name-status .name {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;

    margin-bottom: 3px;

    color: var(--primary-color);
}

body.dark .profile-info .name-status .name {
    color: var(--text-color);
}

.profile-info .name-status .status {
    font-style: normal;
    font-size: 15px;
    font-weight: 600;
    color: var(--black-light-color);
}

.profile .courses-stat {
    margin: 50px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile .courses-stat .cours-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 150px;
    height: 75px;
}

.profile .courses-stat .cours-item:first-child {
    border-right: 1px solid var(--black-light-color);
}

.courses-stat .cours-item .title {
    margin: 5px;
    font-size: 15px;
    font-weight: 500;
    color: var(--black-light-color);
}

.courses-stat .cours-item .number {
    font-size: 35px;
    font-weight: 500;
    margin: 5px;
    color: var(--primary-color);
}

body.dark .courses-stat .cours-item .number {
    color: var(--text-color);
}

.profile .profile-menu {
    height: 25%;
    display: flex;
    align-items: center;
    margin: 12px;

    border-top: 1px solid var(--black-light-color);
}

.profile-menu .menu-list li {
    list-style: none;
    margin: 30px 12px;
}

.profile-menu .menu-list li a {
    text-decoration: none;
    font-size: 18px;
    color: var(--text-color);
}

.profile-menu .menu-list li a.delete {
    color: red;
}

.profile-menu .menu-list li a:hover {
    text-shadow: 0 0 3px var(--black-light-color);
}

/*====== ///DASHBOARD PROFILE =======*/

